Repository plancksecurity/android-planckForAndroid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: toolchain image, base image

Path conditions:
  toolchain image: any of: Dockerfile.toolchain, docker/packages.txt
  base image: any of: DEPENDENCIES, Dockerfile.base, Dockerfile.toolchain

EFA-251 Disable echo protocol by default under MDM
  k9mail/src/androidTest/java/security/planck/mdm/RestrictionDefaults.kt
  k9mail/src/main/res/values/restrictions_default_values.xml
Due: none

EFA-239 Update jni wrapper version in DEPENDENCIES
  DEPENDENCIES
Due: base image

EFA-223 Use new method in ConfiguredSettingsUpdater
  k9mail/src/main/java/security/planck/mdm/ConfiguredSettingsUpdater.kt
Due: none

EFA-227 Pass explicit localMessage arguments in MessageLoaderHelper
  k9mail/src/main/java/com/fsck/k9/activity/MessageLoaderHelper.java
Due: none

EFA-177 fix Android visibility issue on awaitingHandshakeCompletion state
  k9mail/src/main/java/com/fsck/k9/planck/manualsync/PlanckSyncWizard.kt
Due: none

EFA-223 Update version of jni wrapper in DEPENDENCIES
  DEPENDENCIES
Due: base image

EFA-239 Update jni wrapper to last tag in DEPENDENCIES
  DEPENDENCIES
Due: base image

EFA-223 update dependencies
  DEPENDENCIES
Due: base image

EFA-220 Refractored to use adapter functions
  DEPENDENCIES
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: base image

EFA-239 Add missing manager identity to group join call
  k9mail/src/main/java/com/fsck/k9/controller/MessagingController.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: none

EFA-245 Update jni wrapper version
  DEPENDENCIES
Due: base image

Remove redundant code for closing the app
  k9mail/src/androidTest/java/com/fsck/k9/planck/ui/activities/cucumber/steps/CucumberTestSteps.java
Due: none

EFA-224 Change version code to 510
  build.gradle
Due: none

EFA-225 Restore toolbar color when displaying message list
  k9mail/src/main/java/com/fsck/k9/activity/MessageList.java
Due: none

EFA-223 Use new method from jni wrapper
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: none

EFA-233 Set a fixed width for dialog
  k9mail/src/main/res/layout/dialog_simple_background_task.xml
Due: none

EFA-220 Updated to planck_v3.2.5-RC8 JNI
  DEPENDENCIES
Due: base image

EFA-236 Trim key material before conversion to ByteArray
  k9mail/src/main/java/security/planck/mdm/ConfiguredSettingsUpdater.kt
Due: none

EFA-225 Restore the home arrow if not displaying a message
  k9mail/src/main/java/com/fsck/k9/activity/MessageList.java
Due: none

EFA-223 Update version in DEPENDENCIES to tag
  DEPENDENCIES
Due: base image

EFA-220 Restore nullability of queryGroupMailMembers method
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
  k9mail/src/main/java/security/planck/group/GroupTestScreen.kt
Due: none

EFA-241 Enable planck_use_trustwords restriction by default
  k9mail/src/main/res/values/restrictions_default_values.xml
Due: none

EFA-227 Extract LocalMessage methods as extension functions
  k9mail/src/main/java/com/fsck/k9/activity/MessageLoaderHelper.java
  k9mail/src/main/java/com/fsck/k9/extensions/LocalMessage.kt
  k9mail/src/main/java/com/fsck/k9/ui/messageview/MessageViewFragment.java
  k9mail/src/main/java/com/fsck/k9/ui/messageview/SenderPlanckHelper.kt
Due: none

EFA-168 Build span with lowercase email address
  k9mail/src/main/java/com/fsck/k9/activity/compose/RecipientSelectView.java
Due: none

EFA-248 Show setting locked feedback for account settings
  k9mail/src/main/java/com/fsck/k9/ui/settings/account/AccountSettingsFragment.kt
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsFragment.kt
Due: none

EFA-248 Let MDM override app settings even if unlocked
  k9mail/src/main/java/security/planck/mdm/ConfiguredSettingsUpdater.kt
  k9mail/src/test/java/security/planck/mdm/ConfiguredSettingsUpdaterTest.kt
Due: none

EFA-248 Make SettingsActivity react to restriction changes
  k9mail/src/main/java/com/fsck/k9/activity/SettingsActivity.kt
Due: none

EFA-248 Improve locked preference feedback
  k9mail/src/main/java/com/fsck/k9/ui/settings/account/AccountSettingsFragment.kt
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsFragment.kt
  k9mail/src/main/res/values/pep_strings.xml
Due: none

EFA-248 Ignore SettingsImporterTest
  k9mail/src/test/java/com/fsck/k9/preferences/SettingsImporterTest.java
Due: none

Updated CORE
  DEPENDENCIES
Due: base image

Updated dependencies
  DEPENDENCIES
Due: base image

EFA-265 Update jni wrapper version in DEPENDENCIES
  DEPENDENCIES
Due: base image

EFA-265 Update version code to 511
  build.gradle
Due: none

pipeline-fix Install dialog frontend
  Dockerfile.toolchain
Due: toolchain image, base image

pipeline-fix change order
  Dockerfile.toolchain
Due: toolchain image, base image

pipeline-fix remove sudo
  Dockerfile.toolchain
Due: toolchain image, base image

pipeline-fix more fixes
  Dockerfile.toolchain
Due: toolchain image, base image

pipeline-fix remove dialog
  Dockerfile.toolchain
Due: toolchain image, base image

EFA-126 update quoted text processing in compose view
  k9mail/src/main/java/com/fsck/k9/ui/compose/QuotedMessageMvpView.java
Due: none
