Repository plancksecurity/android-planckForAndroid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: toolchain image, base image

Path conditions:
  toolchain image: any of: Dockerfile.toolchain, docker/packages.txt
  base image: any of: DEPENDENCIES, Dockerfile.base, Dockerfile.toolchain

EFA-269 update ui status processing after leave device group
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsFragment.kt
Due: none

EFA-269 Provide interface method to check if a device is grouped
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: none

Updated DEPENDENCIES
  DEPENDENCIES
Due: base image

EFA-280 Update jni wrapper to proper tag
  DEPENDENCIES
Due: base image

EFA-230 Signature methods in PlanckProvider
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: none

EFA-230 Update jni wrapper dependency to branch
  DEPENDENCIES
Due: base image

EFA-230 Make AuditLogger able to use PlanckProvider
  k9mail/src/main/java/com/fsck/k9/K9.java
  k9mail/src/main/java/com/fsck/k9/controller/MessagingController.java
  k9mail/src/main/java/com/fsck/k9/planck/infrastructure/modules/ApplicationModule.java
  k9mail/src/main/java/security/planck/audit/AuditLogger.kt
  k9mail/src/test/java/com/fsck/k9/controller/MessagingControllerTest.java
Due: none

EFA-230 Update jni wrapper version to tag
  DEPENDENCIES
Due: base image

EFA-288 Update jni wrapper version in DEPENDENCIES
  DEPENDENCIES
Due: base image

EFA-291 WIP
  .gitlab-ci.yml
Due: none

EFA-291 WIP
  .gitlab-ci.yml
  Dockerfile.toolchain
Due: toolchain image, base image

EFA-291 WIP
  Dockerfile.toolchain
Due: toolchain image, base image

EFA-292 Add AppStartupActivityDiagram.puml
  diagrams/startup/AppStartupActivityDiagram.puml
Due: none

testing pipeline
  DEPENDENCIES
Due: base image

EFA-287 Allow to enable/disable core logs
  gradle/plugins/customConfig.gradle.sample
  k9mail/build.gradle
Due: none

EFA-287 Update jni wrapper version in DEPENDENCIES
  DEPENDENCIES
Due: base image

EFA-294 Update jni wrapper version
  DEPENDENCIES
Due: base image

EFA-296 Update version code to 512
  build.gradle
Due: none

Merge branch 'ignacio/EFA-230' of https://git.planck.security/android/planckForAndroid into ignacio/EFA-230
  DEPENDENCIES
  build.gradle
  diagrams/startup/AppStartupActivityDiagram.puml
  gradle/plugins/customConfig.gradle.sample
  k9mail/build.gradle
Due: base image

EFA-269 Return false by default if null
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: none

EFA-269 Simplify ResultCompat to Boolean
  k9mail/src/main/java/com/fsck/k9/K9.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: none

EFA-269 Use runBlocking in isDeviceGrouped
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: none

EFA-269 Use ResultCompat for new method
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
Due: none

EFA-269 Disallow sync once device is grouped
  k9mail/src/main/java/com/fsck/k9/K9.java
Due: none

EFA-269 Update grouped variable querying the core
  k9mail/src/main/java/com/fsck/k9/K9.java
Due: none

EFA-269 Use a ViewModel to leave device group
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsFragment.kt
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsViewModel.kt
Due: none

EFA-269 Display a confirmation dialog to leave
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsFragment.kt
  k9mail/src/main/res/values/pep_strings.xml
Due: none

EFA-269 First approach to leave device group with a button
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsFragment.kt
  k9mail/src/main/res/xml/general_settings.xml
Due: none

EFA-269 WIP keep sync loop running when grouped
  k9mail/src/main/java/com/fsck/k9/K9.java
Due: none

EFA-269 Add docs
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
Due: none

EFA-269 WIP first approach to get result from sync wizard
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsFragment.kt
Due: none

EFA-269 Restore sync running always
  k9mail/src/main/java/com/fsck/k9/K9.java
Due: none

EFA-269 Restore grouped setter
  k9mail/src/main/java/com/fsck/k9/K9.java
Due: none

EFA-269 Move leave device group logic to fragment
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProvider.java
  k9mail/src/main/java/com/fsck/k9/planck/PlanckProviderImplKotlin.kt
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsFragment.kt
  k9mail/src/main/java/com/fsck/k9/ui/settings/general/GeneralSettingsViewModel.kt
  k9mail/src/main/java/security/planck/dialog/SimpleBackgroundTaskDialog.kt
  k9mail/src/main/java/security/planck/ui/leavedevicegroup/LeaveDeviceGroupDialog.kt
  k9mail/src/main/java/security/planck/ui/leavedevicegroup/LeaveDeviceGroupViewModel.kt
  k9mail/src/main/res/values/pep_strings.xml
Due: none

EFA-269 Improve current solution by using StateFlow
  k9mail/src/main/java/com/fsck/k9/K9.java
  k9mail/src/main/java/com/fsck/k9/activity/SettingsActivity.kt
  k9mail/src/main/java/com/fsck/k9/planck/manualsync/ManualSyncCountDownTimer.kt
  k9mail/src/main/java/com/fsck/k9/planck/manualsync/PlanckSyncWizard.kt
  k9mail/src/main/java/com/fsck/k9/planck/manualsync/PlanckSyncWizardViewModel.kt
  k9mail/src/main/java/com/fsck/k9/planck/manualsync/SyncState.kt
  k9mail/src/main/java/com/fsck/k9/planck/manualsync/SyncStateChangeListener.kt
  k9mail/src/main/java/security/planck/sync/SyncDelegate.kt
Due: none
